<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
	<% if (theme.footer.counter){ %>
	<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	<span id="busuanzi_container_page_pv" style='display:none'>
		总阅读量<span id="busuanzi_value_page_pv"></span>次
	</span>
	<span class="post-meta-divider" style='display:none'>   </span>
	<% } %>
	<time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><i
			class="icon-calendar icon"></i><%= date(post.date, date_format) %></time>
</a>